body{
    background: teal;
    font-family:"comfortaa";
    margin: 0px;
    //-apple-system, BlinkMacSystemFont,
}

.background-image {
    background-image: url(../media/Hong_Kong-sunset-city-wallpapers.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}


header h1 {
    font-size: 45px;
    font-weight: 500;
    color: whitesmoke;
    margin: 0px 15px 40px 15px;
    padding: 15px;
}

main h2 {
    font-size: 30px;
    color: whitesmoke;
    width: 50%;
    text-align: center;
    margin: 15px auto 15px auto;
}

/* maybe use $color template literal?*/
form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-width: 300px;
    margin: auto;
    background-color: gray;
    border-radius: 15px;
    height: 300px;
    width: 40%;
}

form .button {
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;

    &:hover {
        background-color: gray;
        transition: 0.8s;

    }
    
}

form .input-field {
    width: 60%;
    height: 60%;
}

form #label-destination {
    grid-column: 2;
    grid-row: 1;
    font-weight: bolder;
    padding-right: 10px;
}

form #input-destination{
    grid-column: 3/4;
    grid-row: 1;
}

form #label-departure {
    grid-column: 2;
    grid-row: 2;
    font-weight: bolder;
    padding-right: 10px;
}

form #input-departure{
    grid-column: 3/4;
    grid-row: 2;
}

form #label-arrival {
    grid-column: 2;
    grid-row: 3;
    font-weight: bolder;
    padding-right: 10px;
}

form #input-arrival{
    grid-column: 3/4;
    grid-row: 3;
}

form #search {
    grid-column: 2;
    grid-row: 4;
}

form #reset {
    grid-column: 4;
    grid-row: 4;
    justify-items: end;
}


/*
#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
     grid-template-columns:  
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{

}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

Basic Styling To Override Default For Basic HTML Elements 
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
Reset style for HTML element on active to have no border
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
 Style for Placeholder Text
::placeholder {  Firefox, Chrome, Opera 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder {  Internet Explorer 10-11  
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { Microsoft Edge 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} */